{%  extends '@Log/Default/index.html.twig'%}

{% block loginboxbody %}
<p class="login-box-msg">Identifiez-vous pour démarrer votre session</p>
    <a href="#">J'ai oublié mon mot de passe</a>
    <br/>
    <a href="#">Enregistrer un nouvel utilisateur</a>
{% endblock %}